:root {
  --pri-col: #26a69a;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
  padding: 5%;
}

#game {
  margin: auto;
  width: 90%;
}

#footer {
  background-color: var(--pri-col);
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.col {
  border-left: 1px solid var(--pri-col);
}
