:root {
  --pri-col: #26a69a;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.grid-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  column-gap: 0;
}

#game {
  flex-wrap: nowrap;
  width: 90vw;
  max-width: 800px;
}

.oneLine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  align-items: center;
  column-gap: 5px;
}

#gridSize {
  width: 160px;
  max-width: 75%;
}

#freshGrid {
  width: 115px;
}

#footer {
  background-color: var(--pri-col);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

.square {
  margin: 0;
  border: 1px rgba(192, 192, 192, 0.25) dotted;
}

.square:hover {
    background-color: var(--pri-col);
}