:root {
  --pri-col: #26a69a;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.grid-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  column-gap: 0;
}

#game {
  flex-wrap: nowrap;
  width: 90vw;
  max-width: 800px;
}

#clearGrid {
  min-width: 100px;
  max-width: 200px;
}

#footer {
  background-color: var(--pri-col);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
}

.square {
  border-radius: 1px;
  margin: 0;
  border: 1px silver dotted;
}
.square:hover {
  background-color: var(--pri-col);
}
